html {
    font-size: 20px;
    height: 99vh;
    width: 100vw;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(252, 163, 17);
    font-family: "Georgia", Times, serif;
}

#Tasks-Main-Area
{
    height:100%;
    width:100%;
    color:white;
}